@import "~bootstrap/scss/bootstrap";

.jumbotron {
    height: 25vh;
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
}

.comics-container{
    background-color: #1c1c1c;
    position: relative;
}

.badge-comics-new{
    position: absolute;
    top: -14px;
    left: 400px;
}